*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{

    margin:0;
    background-image: url(img/parede.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat; 
    background-size:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

/* Nome da Haburgueria e menu */
#nave{
    display:flex;
    flex-direction:column;
    text-align:center;
    font-family: 'RocknRoll One', sans-serif;
    font-size:20pt;   
}
#nave h1{ 
    margin:0px;
    padding:15px;
    margin-bottom:10px;  
    color: rgb(208, 255, 0);  
    background-color: rgb(250, 126, 43);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
#nave h2{  
    margin:0; 
    padding:15px;
    color: rgba(207,243,4,0.89); 
    background-color: rgb(250, 126, 43);
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;   
}

/* Ilustração dos Hamburguers */

#image {   
    display:flex;
    margin: 0px 0px 50px 0px;
    padding:0;
    width:100%; 
    height:auto;   
}
#image ul{
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    padding:0;
}
#image a{
    margin: 0;
    padding: 0;   
}
#image p{
    display:flex;
    flex-direction:column;
    margin:auto;
    padding: 20px;
    text-align:center;
    color: rgb(127, 253, 0); 
    font-weight:bolder;  
    font-size:larger;
}
#image img {
    width:230px;
    height:200px;
    padding:20px;
    margin:10px 0;
    border-radius:39px;    
}

/* Roda pé */

#footer{
    display:flex;
    background-color:rgb(250, 126, 43);
    border-top:solid 5px rgb(221, 252, 48);
    height: auto;    
} 
#footer p{
    margin: 10px auto;
    padding: 38px;
    color: white;
    text-align: center;
    font-weight:bolder ;  
    font-size: larger; 
}
@media (max-width: 320px){
   
    #nave{
        display:flex;
        flex-direction:column;
        position: fixed;
        width: 100%;
        text-align:center;
        font-family: 'RocknRoll One', sans-serif;
        font-size:20pt;   
    }
    #image {   
        display:flex;
        margin: 0px 0px 50px 0px;
        padding:0;
        width:100%; 
        height:100%;   
    }

}


